<div class="menu_footer_mobile hidden-md hidden-lg">
    <div class="container">
        <div class="row">
            <div class="col-xs-3 mobi_bar bl">
                <a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/cases/new-case/#" data-toggle="modal" data-target="#mobiMenuSettings">
                    <span class="fa fa-cog"></span> Settings
                </a>
            </div>
            <div class="col-xs-3 mobi_bar br">
                <a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/cases/new-case/#" data-toggle="modal" data-target="#mobiMenuCalc">
                    <span class="fa fa-calculator"></span> Calculators
                </a>
            </div>
            <div class="col-xs-3 mobi_bar br">
                <a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/cases/new-case/#" data-toggle="modal" data-target="#mobiMenuNotify">
                    <span class="fa fa-bell-o"></span> Notifications
                    <i class="fa fa-circle dot" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-xs-3 mobi_bar bl">
                <a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/cases/new-case/#" data-toggle="modal" data-target=".mobi-menu">
                    <span class="fa fa-bars"></span> Menu
                </a>
            </div>
        </div>
    </div>
</div>