<div style="padding: 20px 7.5px;">
    <ul class="nav nav-sidebar">
        <li class="active">
            <a routerLink="">
                <i class="fa fa-bar-chart"></i> Dashboard
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="fa fa-calendar"></i> Calendar
            </a>
        </li>
        <li>
            <a routerLink="new-case">
                <i class="fa fa-plus-square"></i> New Case
            </a>
        </li>
        <li>
            <a routerLink="client">
                <i class="fa fa-user"></i> Clients &amp; Cases
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="fa fa-comments-o"></i> Consultations
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="fa fa-edit"></i> Case Activities
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="fa fa-calendar-check-o"></i> Tasks
                <span class="badge">2</span>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="fa fa-calendar"></i> Key Dates
                <span class="badge">3</span>
            </a>
        </li>
        <li>
            <a routerLink="contact-book">
                <i class="fa fa-phone-square"></i> Contact Book
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="fa fa-money"></i> Receipt Book
            </a>
        </li>
        <li>
            <a routerLink="account">
                <i class="fa fa-calculator"></i> Accounts
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="fa fa-pencil-square-o"></i> Log Book
            </a>
        </li>
        <li>
            <a routerLink="/reports">
                <i class="fa fa-line-chart"></i> Reports
            </a>
        </li>
    </ul>
</div>