<div style="padding: 20px;">
    <ul class="nav nav-sidebar">
        <li class="active">
            <a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/dashboard/default/">
                <i class="fa fa-bar-chart"></i> Dashboard
            </a>
        </li>
        <li>
            <a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/calendar/default/">
                <i class="fa fa-calendar"></i> Calendar
            </a>
        </li>
        <li>
            <a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/cases/new-case/">
                <i class="fa fa-plus-square"></i> New Case
            </a>
        </li>
        <li>
            <a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/cases/case-finder/">
                <i class="fa fa-user"></i> Clients &amp; Cases
            </a>
        </li>
        <li>
            <a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/advice/default/">
                <i class="fa fa-comments-o"></i> Consultations
            </a>
        </li>
        <li>
            <a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/dashboard/activities/06-10-2021/">
                <i class="fa fa-edit"></i> Case Activities
            </a>
        </li>
        <li>
            <a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/task/default/">
                <i class="fa fa-calendar-check-o"></i> Tasks
                <span class="badge">2</span>
            </a>
        </li>
        <li>
            <a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/keydates/default/">
                <i class="fa fa-calendar"></i> Key Dates
                <span class="badge">3</span>
            </a>
        </li>
        <li>
            <a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/contacts/default/">
                <i class="fa fa-phone-square"></i> Contact Book
            </a>
        </li>
        <li>
            <a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/receipts/default/">
                <i class="fa fa-money"></i> Receipt Book
            </a>
        </li>
        <li>
            <a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/accounts/default/">
                <i class="fa fa-calculator"></i> Accounts
            </a>
        </li>
        <li>
            <a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/logbook/default/">
                <i class="fa fa-pencil-square-o"></i> Log Book
            </a>
        </li>
        <li>
            <a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/reports/default/">
                <i class="fa fa-line-chart"></i> Reports
            </a>
        </li>
    </ul>
</div>