<div class="modal-left mobi-menu1 modal left fade" id="mobiMenuSettings" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="msg-ajx msg-theme ">
                <div class="modal-header">
                    <h5 class="modal-title">Settings
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                    </h5>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-sidebar">
                        <li><a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/settings/global-settings/"><span class="glyphicon glyphicon-cog"></span> Global Settings</a></li>
                        <li><a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/settings/bank/"><span class="fa fa-university"></span> Bank Accounts</a></li>
                        <li><a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/settings/locations/"><span class="glyphicon glyphicon-home"></span> Office Locations</a></li>
                        <li><a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/settings/users/"><span class="glyphicon glyphicon-user"></span> User Management</a></li>
                        <li><a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/settings/departments/"><span class="glyphicon glyphicon-check"></span> Areas of Practice</a></li>
                        <li><a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/settings/workflow/"><span class="fa fa-sitemap" aria-hidden="true"></span> Workflow Templates</a></li>
                        <li><a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/settings/hourly-rates/"><span class="glyphicon glyphicon-time"></span> Hourly Rates</a></li>
                        <li><a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/settings/laa-codes/"><span class="glyphicon glyphicon-time"></span> Time activity codes</a></li>
                        <li><a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/settings/vat/"><span class="glyphicon glyphicon-edit"></span> VAT Rates</a></li>
                        <li><a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/templates/default/"><span class=" glyphicon glyphicon-duplicate"></span> Document Templates</a></li>
                        <li><a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/settings/quiz/"><span class="glyphicon glyphicon-edit"></span> Questionnaire Management</a></li>
                        <li><a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/settings/calendar/"><span class="glyphicon glyphicon-calendar"></span> Calendar Settings</a></li>
                        <li><a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/settings/contacts/"><span class="glyphicon glyphicon-book"></span> Contact Book Settings</a></li>
                        <li><a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/profile/change-password"><span class="fa fa-key"></span> Change Password</a></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <a href="https://crescent.legalworkspace.kco.u/index.php/cms/logout" class="btn btn-primary"><span class="glyphicon glyphicon-log-out"></span> Sign out (Dr. Mazhar Ilahi)</a>
                </div>
            </div>
        </div>
    </div>
</div>