<lw-header></lw-header>
<div class="container-fluid h-100">
    <div class="row h-100">
        <lw-sidenav class="fixer col-xs-12 col-sm-4 col-xl-2 lw-sidenav d-none d-xl-block"></lw-sidenav>
        <div class="col-xs-12 col-sm-12 col-md-12 col-xl-10 main">
            <div class="row">
                <div class="col-xs-12">
                    <div class="floating-timer">
                        <div id="stopwatch"><time>00:00:00</time></div>
                        <button data-toggle="tooltip" title="" id="stpw_start" style="display: inline-block;"
                            data-original-title="Start"><span class="fa fa-play-circle" aria-hidden="true"></span></button>
                        <button data-toggle="tooltip" title="" id="stpw_stop" style="display: none;"
                            data-original-title="Pause"><span class="fa fa-pause-circle" aria-hidden="true"></span></button>
                        <button data-toggle="tooltip" title="" id="stpw_clear" data-original-title="Reset"><span
                                class="fa fa-stop-circle" aria-hidden="true"></span></button>
                        <button data-toggle="modal" data-target="#myModalTimeAdd" id="stpw_popup"><span class="fa fa-check-circle"
                                aria-hidden="true"></span></button>
                    </div>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>