<div class="container-fluid navbar-fixed-top quickbar">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" style="background-color: #78B41E; height: 50px;">
            <span class="d-block d-md-none mobi_menu_btn">
                <a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/dashboard/default/#" data-toggle="modal" data-target=".mobi-menu"><span class="fa fa-bars"></span> <span class="d-block d-xs-none">Menu</span></a>
            </span>
            <span class="xlogo">Legal Workspace</span>
        </div>
        <div class="col-xs-3 col-sm-8 col-md-10 col-lg-10 d-none align-items-center justify-content-end d-md-flex" style="background-color: #292929">
           <ul class="float-end gap-3 nav navbar">
                                <li><a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/dashboard/default/#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="glyphicon glyphicon-bell"></span> Notifications <span class="badge">7</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/dashboard/instalments/"><span class="glyphicon glyphicon-bell"></span> Instalments <span class="badge fright">5</span></a></li>
                        <li><a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/dashboard/workflow-reminders/"><span class="glyphicon glyphicon-bell"></span> Workflow  </a></li>
                        <li><a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/keydates/reminders/"><span class="glyphicon glyphicon-bell"></span> Reminders <span class="badge fright">2</span></a></li>
                    </ul>
                </li>
                
                <li><a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/dashboard/default/#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-calculator"></i> Calculators <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/dashboard/default/#" data-toggle="modal" data-target="#myModalVAT"><i class="fa fa-calculator"></i> VAT Calculator</a></li>
                        <li><a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/dashboard/default/#" data-toggle="modal" data-target="#myModalCalTime"><i class="fa fa-calculator"></i> Amount &amp; Hourly Rate <i class="fa fa-arrow-right"></i>  Time</a></li>
                        <li><a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/dashboard/default/#" data-toggle="modal" data-target="#myModalCalUnit"><i class="fa fa-calculator"></i> Time <i class="fa fa-arrow-right"></i>  Units</a></li>
                        <li><a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/dashboard/default/#" data-toggle="modal" data-target="#myModalCalMin"><i class="fa fa-calculator"></i> Units <i class="fa fa-arrow-right"></i>  Time</a></li>
                    </ul>
                </li>
                <!-- <li><a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/dashboard/default/#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span style="font-size: 18px;" class="glyphicon glyphicon-cog"></span></a>
                    <ul class="dropdown-menu" role="menu">
                                                <li><a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/settings/global-settings/"><span class="glyphicon glyphicon-cog"></span> Global Settings</a></li>
                        <li><a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/settings/bank/"><span class="fa fa-university"></span> Bank Accounts</a></li>
                        <li><a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/settings/locations/"><span class="glyphicon glyphicon-home"></span> Office Locations</a></li>
                        <li><a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/settings/users/"><span class="glyphicon glyphicon-user"></span> User Management</a></li>
                        <li><a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/settings/departments/"><span class="glyphicon glyphicon-check"></span> Areas of Practice</a></li>
                        <li><a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/settings/workflow/"><span class="fa fa-sitemap" aria-hidden="true"></span> Workflow Templates</a></li>
                        <li><a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/settings/hourly-rates/"><span class="glyphicon glyphicon-time"></span> Hourly Rates</a></li>
                        <li><a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/settings/laa-codes/"><span class="glyphicon glyphicon-time"></span> Time activity codes</a></li>
                        <li><a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/settings/vat/"><span class="glyphicon glyphicon-edit"></span> VAT Rates</a></li>
                                                <li><a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/templates/default/"><span class=" glyphicon glyphicon-duplicate"></span> Document Templates</a></li>
                                                <li><a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/settings/quiz/"><span class="glyphicon glyphicon-edit"></span> Questionnaire Management</a></li>
                        <li><a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/settings/calendar/"><span class="glyphicon glyphicon-calendar"></span> Calendar Settings</a></li>
                        <li><a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/settings/contacts/"><span class="glyphicon glyphicon-book"></span> Contact Book Settings</a></li>
                    </ul>
                </li> -->

                <li><a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/dashboard/default/#" data-toggle="dropdown" aria-expanded="false"><span class="badge badge-green"><span class="glyphicon glyphicon-user"></span> Dr. Mazhar Ilahi<b class="hideme">DMI</b> </span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="https://crescent.legalworkspace.co.uk/index.php/cms/secure/profile/change-password"><span class="fa fa-key"></span> Change Password</a></li>
                        <li><a href="https://crescent.legalworkspace.co.uk/index.php/cms/logout"><span class="glyphicon glyphicon-log-out"></span> Sign out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>